@import url('https://rsms.me/inter/inter-ui.css');
html { font-family: 'Inter UI', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter UI var alt', sans-serif; }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
 width: 100vw;
 height: 100vh;
 position: relative;
  background: #f9f8f7; 
  /*background: -webkit-linear-gradient(to right, #ece9e6, #ffffff);  Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to right, #ece9e6, #ffffff);*/
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

ul {
 list-style-type: none;
}

.nav-aligner {
  width: 100%;
  height: 10vh;
  color: #fff;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  margin-bottom: 1%;
  padding: 2%;
  position: sticky;
  top: 0;
  z-index: 2;
}

.nav-aligner li {
  padding: 0 1%;
  display: inline-block;
}


.nav-link-items li:not(#nav-img-item){
  float: left;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  padding: 1%;
  margin: 2%;
  display: inline-block;
}

#nav-name {
  color: rgb(14, 38, 50);
}

.homepage-logo {
  width: 30%;
}

.form-logo {
  width: 50%;
}

#form-background {
  background: #1a9f60;
}

/*
li .homepage-logo {
  width: 120px;
}
*/
#center-img {
  width: 114px;
  height: 114px;
  position: absolute;
  bottom: -2%;
  right: 45%
}

/*#dark-button input[type="submit"] {
  background: rgb(14, 38, 50);
}*/

.change-display {
  display: inline-block;
}

.change-display a {
  color: white;
}



h1 { 
  color: rgb(14, 38, 50);
}

h3, h4 {
  margin: 0;
}

p {
  margin: 0.8rem;
}
 
 .text-aligner {
  text-align: center;
 }

 .div-aligner {
  margin: 0 auto;
 }
 
.image-container {
  width: 100%;
  position: relative;
  padding: 0;

}

.image-container img {
 width: 100%;
 height: 50%;
}

#no-padding {
  padding: 0;
}

.add-padding {
  padding: 4%;
}

.center-card-div {
  background: rgba(255, 255, 255, 0.1);
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5%;
}

 .spacer{
  margin: 10px;
}
.big-spacer {
  margin: 10%;
}
