
      <div class="big-spacer"></div>
       <div class="text-aligner">
       <img class="homepage-logo" src="<%= asset_path( 'logo.png' ) %>" />
       </div>
         <div class="text-aligner">
      <span class="change-display button primary"><%= link_to 'log in', login_path %></span>
      <span class="change-display button primary"><%= link_to 'sign up', signup_path %></span>
    </div>