
<div class="card div-aligner">
<table class="striped">
            <caption><h4>Your Personal Expenses</h4></caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Expense Amount</th>
                <th>Category</th>
                <th>Expense created on</th>
              </tr>
            </thead>
             <tbody>
<% if !@personal_expenses.empty? %>
<% @personal_expenses.each do |expense| %>
 
              <tr>
                <td><%= link_to expense.name, user_personal_expense_path(expense.user_id, expense) %></td>
               <td>$<%= expense.amount %></td>
                <td><%= expense.category_name %></td>
               <td><%= expense.created_at %></td>
              
              </tr>
      <% end %>
            </tbody>
          </table>
</div>







<% else %>
<h3>You don't have any expenses!</h3>
<% end%>
