 <html class="show">
<body class="show">
 <div class="text-aligner">
       <h1>New Personal Expense</h1>
    </div>

<%= render 'form' %>
<%# byebug %>

<%#= button_to( "shared", new_user_personal_expense_path, method: "post", params: {user_id: params[:user_id]})  %>
