<!DOCTYPE html>
<html>
  <head>
    <title>MoniesTrackerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <header>Test run</header>
  <body>
    <%= yield %>
  </body>
  
</html>
